<section class="loginWrapper">
    <form class="loginForm" (ngSubmit)="login()" [formGroup] = "loginForm">
    <mat-card class="loginCard">
        <mat-card-title>
              Login
        </mat-card-title>

        <mat-form-field>
            <mat-label>Enter e-mail</mat-label>
            <input matInput placeholder="Enter e-mail" required formControlName="email">
        </mat-form-field>

        <mat-form-field >
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Enter password" required formControlName="password">
        </mat-form-field>

        <button mat-button mat-raised-button color="primary" [disabled]="loginForm?.invalid">Submit</button>

        </mat-card>
    </form> 
</section>